* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

/* Hrader & Nav & Logo*/

header {
  position: fixed;
  z-index: 10;
  background-color: white;
  display: flex;
  padding: 30px;
  justify-content: space-around;
  border-bottom: 2px solid #eee;
  width: 100vw;
}

#logo {
  width: 10rem;
  height: 2rem;
}

#logo:hover {
  cursor: pointer;
}

#nav {
  display: flex;
  margin-top: 10px;
  list-style: none;
  margin-right: 20rem;
}

.mainNav {
  margin: 0 1rem;
}

.childNav {
  list-style: none;
  line-height: 2rem;
  padding: 10px;
  border: 1px solid black;
}

#login {
  text-decoration: none;
  margin: 10px 0 0 50px;
  width: 70px;
  height: 30px;
  color: #6400e4;
  font-weight: bold;
}

#login:hover {
  cursor: pointer;
}

header nav ul {
  font-weight: bold;
}

header nav ul ul {
  display: none;
  font-weight: bold;
}

header nav ul li:hover {
  cursor: pointer;
  color: #6400e4;
}

header nav ul li:hover > ul {
  display: list-item;
  cursor: pointer;
  color: black;
  position: absolute;
  z-index: 5;
  background-color: white;
  margin-top: 10px;
}

header nav ul li ul li:hover {
  color: #6400e4;
}

/* Section 1 */

#section1 {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
}

#leftDiv {
  display: flex;
  width: 60%;
  margin-left: 30px;
}

#rightDiv {
  width: 40%;
  display: flex;
}

#image1 {
  width: 10%;
  height: 3%;
  margin: 4% 0 0 50px;
}

#image2 {
  width: 25%;
  height: 10%;
  margin-top: 24%;
  z-index: 2;
}

#image3 {
  width: 30%;
  height: 20%;
  margin-top: 4%;
  margin-right: -5%;
}

#image4 {
  width: 80%;
  height: 80%;
  margin: 11% 0 0 -60%;
  z-index: 1;
}

#image5 {
  width: 50%;
  height: 50%;
  z-index: 2;
  margin-left: -50%;
  margin-top: 45%;
}

#leftDiv > div {
  width: 52%;
  height: fit-content;
  font-weight: bold;
  background-color: #6400e4;
  color: white;
  font-size: 2.5rem;
  z-index: 3;
  padding: 20px;
  margin-top: 40%;
  margin-left: -85%;
}

form {
  right: 120px;
  margin: 20px;
  padding: 20px;
  position: absolute;
}

form h2 {
  margin-bottom: 50px;
}

form label {
  font-weight: bold;
}

form input {
  margin: 20px 0;
  width: 400px;
  height: 50px;
}

form button {
  width: 400px;
  height: 50px;
  background-color: #6400e4;
  color: white;
  font-size: 20px;
}

form p {
  width: 400px;
  margin-top: 10px;
  line-height: 30px;
}

#section2 {
  display: flex;
}

#image6 {
  width: 100%;
  margin-top: -20%;
  z-index: 1;
}

#image7 {
  width: 70%;
  z-index: 2;
  margin-top: 50px;
  margin-left: -85vw;
}

#section2 div {
  z-index: 2;
  font-size: 50px;
  color: white;
  font-weight: bold;
  margin-left: -67vw;
  margin-top: 80px;
}

#section2 div span {
  color: #ffd500;
  z-index: 2;
  margin-top: s;
}
#section2 p {
  z-index: 2;
  font-size: 36px;
  color: white;
  margin-left: -44vw;
  margin-top: 150px;
}

#section2 button {
  z-index: 2;
  font-size: 22px;
  background-color: #ffd500;
  width: 200px;
  height: 80px;
  border-radius: 30%;
  margin-left: -15vw;
  margin-top: 65px;
}

#section2 button:hover {
  cursor: pointer;
}

#section3 {
  padding-top: 50px;
  background-color: #f0f3ff;
}

#section3 div {
  text-align: center;
  color: #141c3a;
  font-size: 40px;
  font-weight: bold;
  line-height: 60px;
  padding: 50px;
  margin: 0 auto;
}

#section4 {
  display: flex;
  align-content: space-around;
  flex-direction: column;
  margin: 0 auto;
  padding: 100px;
  background-color: #f0f3ff;
}

#section4 > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10%;
}

#section4 div span {
  width: 80px;
  height: 80px;
  border: 10px solid #eff2ff;
  background-color: white;
  border-radius: 50%;
  text-align: center;
  margin-top: 8%;
  font-size: 50px;
}

#section4 div img {
  width: 30%;
  margin-left: 10%;
}

#section4 div div {
  width: 40%;
  color: #141c3a;
  font-size: 20px;
  margin-top: 2%;
  margin-left: 10%;
}

#section4 div div h3 {
  margin: 20px;
}

#section4 div div p {
  margin: 20px;
  line-height: 30px;
}

#section5 img {
  display: flex;
}

#section5 {
  background-color: #141c3a;
  height: 1200px;
}

#backGround {
  width: 100%;
}

#points {
  margin-top: -34%;
  margin-left: 2%;
}

#rects {
  margin-left: 85vw;
  margin-top: -10%;
}

#section5 div {
  padding-top: 400px;
  text-align: center;
  line-height: 70px;
  font-size: 60px;
  font-weight: bold;
  color: white;
}

#section5 p {
  text-align: center;
  padding: 50px;
  color: white;
  font-size: 30px;
}
